*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: yellow;

}
.weather-app{
background: red;
}
.navbar{
    font-weight: bold;
}
.weatherinfo-box{
    border: 2px solid black;
}
a{
    color: white;
}