<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1 id="md" > this is static html page render go to  </h1> 
    <div class="">
        <h5>this page is in progress <span></span> go to the static web page</h5>
        <a href="http://localhost:1210/?#">   go to weather app</a>
    </div>
    
</body>
<script>

</script>
</html>